@import url(https://fonts.googleapis.com/css?family=Poiret+One);

@import url(https://cdnjs.cloudflare.com/ajax/libs/weather-icons/2.0.9/css/weather-icons.min.css);
@import url("https://fonts.googleapis.com/css?family=Space+Mono");
@import url("https://fonts.googleapis.com/css?family=Comic+Neue");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --rad: 0.7rem;
  --dur: 0.3s;
  --color-dark: #2f2f2f;
  --color-light: #fff;
  --color-brand: #57bd84;
  --font-fam: "Lato", sans-serif;
  --height: 5rem;
  --btn-width: 6rem;
  --bez: cubic-bezier(0, 0, 0.43, 1.49);
}

body {
  background-color: #f5f5f5;
  background: var(--color-dark);
  height: 100vh;
  min-height: 100vh;
  display: grid;
  place-items: center;
}

.widget {
  display: flex;
  margin: 2% 10% 2% 10%;
  flex-wrap: wrap;
  height: 400px;
  width: auto;
  border-radius: 20px;
  box-shadow: 0 27px 55px 0 rgba(0, 0, 0, 0.3),
    0 17px 17px 0 rgba(0, 0, 0, 0.15);
}
.widget .weatherIcon {
  flex: 1 100%;
  height: 50%;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  background: #fafafa;
  font-family: weathericons;
  display: flex;
  align-items: center;
  justify-content: space-around;
  font-size: 100px;
}

.widget .weatherInfo .temperature {
  flex: 0 0 33.33%;
  width: 100%;
  align-items: center;
  font-size: 58px;
  display: flex;
  justify-content: space-around;
  margin-left: 15px;
  margin-right: 5px;
}
.widget .weatherInfo .description {
  flex: 0 60%;
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  justify-content: center;
}
.widget .weatherInfo .description .weatherCondition {
  text-transform: uppercase;
  font-size: 35px;
  font-weight: 100;
  font-family: Comic Neue;
}
.widget .weatherInfo .description .place {
  font-size: 15px;
}
.widget .weatherInfo {
  flex: 0 0 50%;
  height: 40%;
  background: #080705;
  display: flex;
  align-items: center;
  color: white;
}
.widget .date {
  flex: 0 0 50%;
  flex-direction: column;
  padding: 20px;
  height: 40%;
  background: #70c1b3;
  display: flex;
  justify-content: space-around;
  align-items: center;
  color: white;
  font-size: 23px;
  font-weight: 1000;
  text-align: center;
  letter-spacing: 4.1px;

  font-family: "Roboto", sans-serif;
}

.widget .extra-temp {
  flex: 1 100%;
  padding: 5% 0;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background: #fafafa;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  align-items: center;
  font-size: 100px;
}

.widget .extra-temp p {
  font-size: 25px;
  font-weight: 600;
}

.temp-info-minmax,
.weather-extra-info,
.two-sided-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  text-align: center;
  align-items: center;
  color: #70c1b3;
}

.widget .extra-temp .extra-info-leftside {
  text-align: left;
  font-weight: 600;
  text-transform: capitalize;
  color: #080705;
  font-size: 15px;
}

/* input search button style  */

.search {
  width: auto;
  position: relative;
  display: flex;
  justify-content: center;
}

.wrap {
  display: flex;
  justify-content: center;
  text-align: center;
}

.suggestions {
  position: inherit;
  background: #e9fddd;
  width: 69vh;
  border-radius: 15px;
  text-align: left;
  padding-left: 2vh;
  padding-right: 2vh;
  padding-top: 1vh;
  padding-bottom: 1vh;
  margin-top: 1vh;
  margin-bottom: 1vh;
}

.searchbar {
  background: #ffffff;
  border-radius: 15px;
  padding: 2vh;
  width: 69vh;
  margin-bottom: 10px;
}

/* .searchbutton {
  margin-bottom: 10px;
  width: 100%;
  height: 50px;
  background: #ffffff;
  padding: 0 1.5rem;
  border-radius: 15px;
  transition-property: width, border-radius;
  z-index: 1;
  box-shadow: 1px 1px 10px rgba(255, 0, 0, 0.6);
  position: relative;
} */
/*Resize the wrap to see the search bar change!*/
/* .wrap {
  width: 30%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
} */
